*{
    box-sizing: border-box;
}
body{
    background: #f7f9f9;
    color: #575a5b;
    font-size: 16px;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}
.base{
    width:200px;
    height:100px;
    background:darkslategray;
}

.modal-close{
    right:15px;
    top:15px;
    position: absolute;
    display: block;
    transition: transform 2s ease-out;
}
.modal-close:hover{
    transform: rotate(360deg);
}
.modal-title{
    background: lightslategray;
}

section{
    background: darkgray;
}

section > div{
    background: lightgray;
    overflow: hidden;
    position: relative;
}

section article{
    padding:3em;
}

h3{
    margin: 0;
    padding:1em;
    animation:  slideUpSmall 0.25s 0.75s forwards,
                fadeIn 0.25s 0.75s forwards;
}


.modal-overlay{
    opacity: 0;
    visibility: hidden;
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.modal-overlay.active{
    animation:  fadeIn .25s forwards;
}

.modal{
    opacity: 0;
    visibility: hidden;
    width: 50%;
    margin: 0 auto;
}

.modal-overlay.active .modal{
    animation:  slideUp .65s .5s cubic-bezier(0.17, 0.89, 0.32, 1.25) forwards,
                fadeIn .65s .5s forwards;
}

.modal input{
    opacity: 0;
    visibility: hidden;
}
.modal-overlay.active .modal input{
    animation:  slideUpSmall .4s 0.8s forwards,
                fadeIn .5s 0.75s forwards;
}

@keyframes slideUpSmall{
    from{
        transform: translateY(80px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        visibility: hidden;
    }
    to {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes slideUp{
    from {
        transform: translateY(400px);
    }
    to {
        transform: translateY(100px);
    }
}
